<head>
    <style>
        h1 {
            text-align: center;
        }
    </style>
</head>

<body>

    <div class="dgd card p-3 ">

        <h1 class="text-success dbook">HealthCare Memeber Portal</h1>
        <div style="color: blue;">Welcome: {{getValue()}}</div>
        <button class="dbook1" routerLink="">Logout</button>
    </div>

    <div class="row bg-dark p-2">
        <div class="col-md-2 text-center" style="color:white;"><a routerLink="/memberdetails">Member Details</a></div>

    </div>
</body>