<h1 class="text-center bookt">HealthCare Member Portal</h1>
<br>
<h2 class="text-center  book">User Login</h2>
<div class="box">

    <div>
        <label class="lab">User Name</label>
        <input type="text" class="form-control inp" name="username" #username="ngModel" required
            [(ngModel)]="login.UserName" />
        <div *ngIf="username.errors?.['required'] && username.touched" class="text-danger">User Name is required</div>
    </div>

    <div>
        <label class="lab">Password</label>
        <input type="password" class="form-control inp" name="password" #password="ngModel" required
            [(ngModel)]="login.Password" />
        <div *ngIf="password.errors?.['required'] && password.touched" class="text-danger">Password is required</div>
    </div>
    <br>

    <button type="submit" class="buy" (click)="onSumbit()">Login</button>
    <div class="reg1" routerLink="/signup">New Registration</div>
    <h6 class="text-center text-danger">{{mes}}</h6>


</div>