.bookt{
    color: blueviolet;
    margin: auto;
    
}
.book{
    color: whitesmoke;
    width: 550px;
    height: 60px;
    margin: auto;
    background-color: rgb(52, 20, 194);

}

.box{
    width: 550px;
    border-style: solid;
    border-radius: 2px;
    border-color:rgb(3, 58, 59);
    margin: auto;
    height: auto;
}

.lab{
    color: rgb(86, 11, 156);
    font-size: 15px;
    text-align: left;
    margin-left: 30px;
    margin-top: 15px;
    font-weight: bold;
}

.buy{
    width: 80%;
    height: 50px;
    background-color: rgb(51, 8, 92);
    color: cornsilk;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
}

.buy:hover{
    background-color: rgb(4, 85, 85);
 }
