<h1 class="text-center bookt">HealthCare Member Portal</h1>
<br>
<h2 class="text-center  book">New User</h2>
<div class="box">

    <div>
        <label class="lab">UserName</label>
        <input type="text" class="form-control inp" [(ngModel)]="signup.UserName" />
    </div>
    
    <div>
        <label class="lab">Password</label>
        <input type="password" class="form-control inp" [(ngModel)]="signup.Password" />
    </div>

    <div>
        <label class="lab">UserType</label>
        <!-- <input type="text" class="form-control inp" [(ngModel)]="signup.UserType" /> -->
        <select class="form-control inp" [(ngModel)]="signup.UserType" >
        <option value="Admin">Admin</option>
        <option value="Member">Member</option>
    </select>
    </div>
    <br>

    <button type="submit" class="buy" (click)="onSubmit()">Signup</button>
    
    

</div>
